
.snip-layout .snip-header__user {
  display: none!important;
}
.snip-layout .snip-header__continue {
  display: block!important;
}
.snip-layout .snip-footer {
  display: none!important;
}
.snip-header__total {
  display: none!important;
}
.snip-layout .snip-header__total {
  display: none!important;
}
.snip-table__cell--center {
  visibility: hidden;
}
.snip-layout .snip-table__cell--bold {
  visibility: hidden;
}
#snipcart-items-header tr th:nth-child(3) {
  visibility: hidden;
}
