/* custom snipcart css file by Amjad Rathod */
/* cart background */
.snip-layout .snip-layout__main-container {
  background: #f7f7eb;
}
.snip-layout .snip-header__user {
  background: none;
  text-align: left;
  font-size: 16px;
}
a.snipcart-user-profile {
  background: blue!important;
  color: yellow!important;
  padding: 10px 25px!important;
  border-radius: 3px!important;
}
.snip-layout .snip-header {
  background: none;
  position: relative;
  top: -35px;
}
/* title color */
#snipcart-title {
  color: #8C1F96!important;
}
/* remove footer */
#snipcart-footer {
  display: none;
}
/* remove */

#snipcart-items-header tr th:nth-child(6)::before {
  content: 'Remove';
  font-size: 12px;
  color: #000;
}
#snipcart-items-header tr th {
  color: #000!important;
}
#snipcart-items td a.snip-product__remove::before {
  content: 'Remove';
  font-size: 14px;
  text-decoration: underline;
  color: blue!important;
}
.snip-layout .snip-ico {
  color: #000;
}
/* remove discount */
.sub-title {
  color: #000;
  text-align: left!important;
  margin-left: 40px!important;
  font-size: 22px!important;
  text-transform: none!important;
}
/* next - devlivery */
#snipcart-actions #snipcart-cartitems-continue-top {
  display: inline-block!important;
}
#snipcart-actions .js-next {
  color: yellow!important;
  background-color: blue!important;
}
/* Remove loader */
#snipcart-global-loader {
  display: none!important;
}
/* remove col */
#snipcart-items-header tr th:nth-child(3), #snipcart-items-header tr th:nth-child(4) {
  font-size: 0;
}
.snip-table__item td:nth-child(3), .snip-table__item td:nth-child(4) {
  font-size: 0;
}
/* tbl had border */
.snip-layout .snip-table__header {
  border-bottom: solid 2px #666260;
  border-top: solid 2px #666260;
}
/* continue_btn */
#snipcart-cartitems-continue-top {
  position: absolute;
  left: 20px;
  background: brown!important;
  color: yellow!important;
}
/* total */
#snipcart-items #snipcart-header-total {
  margin: 0;
  position: absolute;
  right: 18%;
  background: none;
  color: #000!important;
  font-size: 22px;
  font-weight: 700;
}
#snipcart-show-discount-box {
  visibility: hidden;
}
#snipcart-header #snipcart-header-total {
  visibility: hidden;
}
.snip-layout .snip-header__total-label {
  color: #000!important;
}
/*  */
#snipcart-amount {
  border-bottom: solid 2px #000;
  border-top: solid 2px #000;
}
.snip-layout .snip-header__total-label {
  color: #000!important;
}
.snip-header__user-mail {
  color: #000!important;
}
.snip-layout .snip-header__user-text {
  /* font-size: 0; */
  max-width: 100%!important;
  display: inline-block;
  color: #000!important;
}
.snip-layout .snip-header__user-text .snip-header__user-mail {
  font-size: 14px;
}
.snip-quantity-trigger {
  visibility: hidden;
}
.snipcart-user-logout {
  position: absolute;
  left: 220px;
  top: 10px;
}
#snipcart-previous {
  background: brown!important;
}
.snipcart-user-logout {
  visibility: hidden;
}
.snip-layout .snip-form__label {
  color: #000!important;
}
#snipcart-newaccount-form-container {
  display: none!important;
}
#snipcart-login-form-container {
  position: relative;
  left: 25%;
}
@media only screen and (min-width: 48em) {
  .snip-layout .snip-cols {
    display: block!important;
  }
  .snip-layout .snip-col {
    float: unset;
    position: relative;
    left: 20px;
    width: 50%!important;
  }
  #snipcart-billingaddress-form .snipcart-checkbox-field {
    position: absolute;
    top: -600px;
  }
}
/* ḷogin btn */
#snipcart-login-submit, #snipcart-login-cancel {
  background: blue;
  color: yellow;
  width: 40%;
}
/* login cancel btn */
#snipcart-login-cancel {
  float: right;
  position: relative;
  top: -47px;
}
/* hide order details page */
#snip-layout-order-details {
  visibility: hidden;
}
#snipcart-steps {
  visibility: hidden;
}
#snipcart-plans-header {
  border: none!important;
}
#snip-layout-shipping-method #snipcart-next, #snip-layout-shipping-method #snipcart-previous {
  color: yellow;
}
.snipcart-user-logout {
  z-index: 1;
}
/* mobile  */

@media only screen and (max-width: 767px) {
  body.snip-open {
    position: fixed;
    max-width: 100%;
  }
  #snipcart-login-form-container {
    left: 0;
  }
  .snip-layout .snip-table--small td, .snip-layout .snip-table--small th, .snip-layout .snip-table--small tr {
    display: inline-block!important;
  }
  .snip-layout .snip-table__item {
    width: 100%;
  }
  .snip-layout .snip-table--small .snip-table__header {
    display: block;
  }
  .snip-layout .snip-table--small td:nth-child(1) {
    width: 50%;
    max-width: 50%;
    float: left;
  }
  .snip-layout .snip-table--small td:nth-child(2) {
    width: 0;
  }
  .snip-layout .snip-table--small td:nth-child(3) {
    width: 0;
  }
  .snip-layout .snip-table--small td:nth-child(4) {
    width: 0;
  }
  .snip-layout .snip-table--small td:nth-child(5) {
    width: 25%;
    margin: 0;
  }
  .snip-layout .snip-table--small td:nth-child(6) {
    width: 25%;
    text-align: center;
  }
  .snip-layout .snip-table--small td:nth-child(6) a {
    font-size: 0;
    position: unset;
  }

  /* .snip-layout .snip-table--small td:nth-child(6) {
  }
  .snip-layout .snip-discount__remove, .snip-layout .snip-product__remove {
    right: unset;
    margin-left: 120px;
  } */
  #snipcart-items-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  #snipcart-items #snipcart-header-total {
    font-size: 16px;
    position: relative;
    left: 0;
    text-align: right;
    width: 73%;
  }
  a.snipcart-user-profile {
    font-size: 10px;
    font-weight: 700;
  }
  #snipcart-items-header tr {
    width: 100%;
  }
  #snipcart-items-header tr th:nth-child(1) {
    width: 50%;
  }
  #snipcart-items-header tr th:nth-child(2) {
    width: 0;
  }
  #snipcart-items-header tr th:nth-child(3) {
    width: 0;
  }
  #snipcart-items-header tr th:nth-child(4) {
    width: 0;
  }
  #snipcart-items-header tr th:nth-child(5) {
    width: 25%;
    text-align: center;
  }
  #snipcart-items-header tr th:nth-child(6) {
    width: 25%;
    text-align: right;
  }
  #snipcart-title {
    display: block;
    position: relative;
    top: 30px;
    text-align: left;
    font-size: 26px;
  }
  .sub-title {
    font-size: 18px!important;
    margin: 0!important;
  }
}
@media only screen and (max-width: 668px) {
  /* #snipcart-items-header tr th:nth-child(5) {
    position: relative;
    left: 150%!important;
  }
  #snipcart-items-header tr th:nth-child(6) {
    position: relative;
    left: 170%!important;
  } */
}
@media only screen and (max-width: 568px) {
  /* #snipcart-items-header tr th:nth-child(5) {
    position: relative;
    left: 190%!important;
  }
  #snipcart-items-header tr th:nth-child(6) {
    position: relative;
    left: 220%!important;
  } */
  /* .snip-layout .snip-table--small td:nth-child(5) {
    margin-left: 75px;
  } */

  /* #snipcart-items #snipcart-header-total {
    left: 16%;
  } */
}
