/* cart background */
.snip-layout .snip-layout__main-container {
  background: #fdf3f3;
}
.snip-layout .snip-header__user {
  background: none;
}
.snip-layout .snip-header {
  background: none;
}
/* title color */
#snipcart-title {
  color: #000!important;
}
/* remove footer */
#snipcart-footer {
  display: none;
}
/* remove */

#snipcart-items-header tr th:nth-child(6) {
  content: 'Remove';
}
.snip-layout .snip-ico--close::before {
  content: 'Remove';
  font-size: 14px;
  text-decoration: underline;
  color: blue!important;
}
/* remove discount */
#snipcart-show-discount-box {
  display: none;
}
