/* cart background */
.snip-layout .snip-layout__main-container {
  background: #fdf3f3;
}
.snip-layout .snip-header__user {
  background: none;
  text-align: left;
  font-size: 16px;
}
a.snipcart-user-profile {
  background: blue!important;
  color: yellow!important;
  padding: 10px 25px!important;
  border-radius: 3px!important;
}
.snip-layout .snip-header {
  background: none;
  position: relative;
  top: -35px;
}
/* title color */
#snipcart-title {
  color: #000!important;
}
/* remove footer */
#snipcart-footer {
  display: none;
}
/* remove */

#snipcart-items-header tr th:nth-child(6)::before {
  content: 'Remove';
  font-size: 12px;
  color: #000;
}
#snipcart-items-header tr th {
  color: #000!important;
}
#snipcart-items td a.snip-product__remove::before {
  content: 'Remove';
  font-size: 14px;
  text-decoration: underline;
  color: blue!important;
}
.snip-layout .snip-ico {
  color: #000;
}
/* remove discount */
.sub-title {
  color: #000;
  text-align: left!important;
  margin-left: 40px!important;
  font-size: 22px!important;
  text-transform: none!important;
}
/* next - devlivery */
#snipcart-actions #snipcart-cartitems-continue-top {
  display: inline-block!important;
}
#snipcart-actions .js-next {
  color: yellow!important;
  background-color: blue!important;
}
/* Remove loader */
#snipcart-global-loader {
  display: none!important;
}
/* remove col */
#snipcart-items-header tr th:nth-child(3), #snipcart-items-header tr th:nth-child(4) {
  font-size: 0;
}
.snip-table__item td:nth-child(3), .snip-table__item td:nth-child(4) {
  font-size: 0;
}
/* tbl had border */
.snip-layout .snip-table__header {
  border-bottom: solid 2px #666260;
  border-top: solid 2px #666260;
}
/* continue_btn */
#snipcart-cartitems-continue-top {
  position: absolute;
  left: 20px;
  background: brown!important;
  color: yellow!important;
}
/* total */
#snipcart-items #snipcart-header-total {
  margin: 0;
  position: absolute;
  right: 19%;
  background: none;
  color: #000!important;
  font-size: 22px;
  font-weight: 700;
}
#snipcart-show-discount-box {
  visibility: hidden;
}
#snipcart-header #snipcart-header-total {
  visibility: hidden;
}
.snip-layout .snip-header__total-label {
  color: #000!important;
}
/*  */
#snipcart-amount {
  border-bottom: solid 2px #000;
  border-top: solid 2px #000;
}
.snip-layout .snip-header__total-label {
  color: #000!important;
}
.snip-header__user-mail {
  color: #000!important;
}
.snip-layout .snip-header__user-text {

  max-width: 100%!important;
}
#snipcart-current-user {
  position: relative!important;
  top: 100px;
  left: 17px;
}
.snipcart-user-logout {
  position: absolute;
  left: 220px;
  top: 10px;
}
