
.snip-layout .snip-header__user {
  display: none!important;
}
.snip-layout .snip-header__continue {
  display: block!important;
}
.snip-layout .snip-footer {
  display: none!important;
}
.snip-header__total {
  display: none!important;
}
