.snip-layout .snip-header__continue {
  display: block!important;
  right: 40px;
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  width: 250px;
  border-radius: 10px;
  content: "any!important";
}
.snip-layout .snip-footer {
  display: none!important;
}
.snip-header__total {
  display: none!important;
}
.snip-layout .snip-header__total {
  display: none!important;
}
.snip-table__cell--center {
  visibility: hidden;
}
.snip-layout .snip-table__cell--bold {
  visibility: hidden;
}
#snipcart-items-header tr th:nth-child(4) {
  visibility: hidden;
}
.snip-layout .snip-product__remove {
  border-bottom: solid 3px blue;
}
.snip-layout .snip-product__remove {
  color: blue!important;
}
#snipcart-guest-checkout-container {
  display: none;
}
#snipcart-main-content .custom-snipcart-footer-text {
  background-color: rgba(240,240,240,1);
  padding: 10px 20px;
}

#snipcart-main-content .custom-snipcart-footer-text h2 {
  font-size: larger;
  font-weight: bold;
  padding: 10px 0;
}
.snip-btn-any {
  visibility: visible!important;
}
#snipcart-actions .js-next::before{
  padding: 5px 20px;
  font-size: 16px;
  content: 'continue';
}
#snipcart-actions .js-next{
  font-size: 0;
}
.snip-header__user p{
  font-size: 0;
}
.snip-header__user p a{
  font-size: 14px;
}
.snip-header__user p::before{
  padding: 5px 20px;
  font-size: 16px;
  content: 'Signed-in as';
}
#snipcart-cartitems-continue-top::before{
  padding: 5px 20px;
  font-size: 16px;
  content: 'Add another Order';
}
#snipcart-cartitems-continue-top{
  font-size: 0;
}
#snipcart-previous::before{
  padding: 5px 20px;
  font-size: 16px;
  content: 'Go Back';
}
#snipcart-previous{
  font-size: 0;
}
.snipcart-checkbox-field label::before {
  font-size: 14px;
  content: 'DELIVERY ADDRESS same as INVOICE ADDRESS'
}
.snipcart-checkbox-field label {
  font-size: 0;
}
