/*--------------------------------------
Includes
--------------------------------------*/
/* Bourbon */
/* Mixin */
/* Colors */
/* Buttons */
.btn {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 15px 25px;
  font-weight: 600; }

.btn-custom {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center; }

.shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.border-radius {
  border-radius: 45px; }

.white-text {
  color: #ffffff !important; }

.focus-white:focus {
  color: #ffffff; }

.btn-danger {
  background-color: #ed1c24; }

.btn-success {
  background-color: #3cb878; }

.button {
  width: 100% !important; }

.btn-social {
  border-radius: 4px;
  color: #ffffff !important;
  position: relative;
  padding: 15px 25px !important; }

.btn-facebook {
  background: #3858a0; }

.store-apple {
  background: #7F8C8D; }

.store-play {
  background: #2ECC71; }

.btn-store {
  background: none;
  color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  position: relative;
  height: 60px;
  padding-left: 55px;
  padding-right: 20px; }
  .btn-store i {
    font-size: 40px;
    position: absolute;
    left: 14px;
    margin-top: -4px; }
  .btn-store .small {
    display: block;
    font-size: 12px;
    line-height: 8px;
    margin-bottom: 2px;
    margin-top: 5px;
    text-align: left; }
  .btn-store .big {
    display: block;
    text-align: left;
    font-size: 21px;
    line-height: 21px; }
  .btn-store:hover {
    background: #ffffff;
    color: rgba(34, 34, 34, 0.7);
    text-shadow: none; }
  .btn-store:focus {
    background: #ffffff;
    color: rgba(34, 34, 34, 0.7);
    text-shadow: none; }

/* Font Face */
@font-face {
  font-family: 'Trueno';
  src: url("../fonts/TruenoUltLtIt.eot");
  src: url("../fonts/TruenoUltLtItd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/TruenoUltLtIt.woff") format("woff"), url("../fonts/TruenoUltLtIt.ttf") format("truetype"), url("../fonts/TruenoUltLtIt.svg#TruenoUltLtIt") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Trueno';
  src: url("../fonts/TruenoLt.eot");
  src: url("../fonts/TruenoLtd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/TruenoLt.woff") format("woff"), url("../fonts/TruenoLt.ttf") format("truetype"), url("../fonts/TruenoLt.svg#TruenoLt") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Trueno';
  src: url("../fonts/TruenoRg.eot");
  src: url("../fonts/TruenoRgd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/TruenoRg.woff") format("woff"), url("../fonts/TruenoRg.ttf") format("truetype"), url("../fonts/TruenoRg.svg#TruenoRg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Trueno';
  src: url("../fonts/TruenoBlk.eot");
  src: url("../fonts/TruenoBlkd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/TruenoBlk.woff") format("woff"), url("../fonts/TruenoBlk.ttf") format("truetype"), url("../fonts/TruenoBlk.svg#TruenoBlk") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Trueno';
  src: url("../fonts/TruenoBd.eot");
  src: url("../fonts/TruenoBdd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/TruenoBd.woff") format("woff"), url("../fonts/TruenoBd.ttf") format("truetype"), url("../fonts/TruenoBd.svg#TruenoBd") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Trueno';
  src: url("../fonts/TruenoUltLt.eot");
  src: url("../fonts/TruenoUltLtd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/TruenoUltLt.woff") format("woff"), url("../fonts/TruenoUltLt.ttf") format("truetype"), url("../fonts/TruenoUltLt.svg#TruenoUltLt") format("svg");
  font-weight: 200;
  font-style: normal; }

/* Sidebar */
/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
  .pushy a {
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    text-decoration: none; }
  .pushy a:hover {
    color: #FFF; }
  .pushy ul:first-child {
    margin-top: 10px; }
  .pushy.pushy-left {
    left: 0; }
  .pushy.pushy-right {
    right: 0; }

.pushy-content {
  visibility: hidden; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-400px, 0, 0);
  -ms-transform: translate3d(-400px, 0, 0);
  transform: translate3d(-400px, 0, 0); }

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(400px, 0, 0);
  -ms-transform: translate3d(400px, 0, 0);
  transform: translate3d(400px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(400px, 0, 0);
  -ms-transform: translate3d(400px, 0, 0);
  transform: translate3d(400px, 0, 0); }

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-400px, 0, 0);
  -ms-transform: translate3d(-400px, 0, 0);
  transform: translate3d(-400px, 0, 0); }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible; }

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */ }
  .pushy-submenu ul {
    padding-left: 15px;
    transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out; }
    .pushy-submenu ul .pushy-link {
      transition: opacity 0.2s ease-in-out; }
  .pushy-submenu button {
    width: 100%;
    color: #b3b3b1;
    padding: 15px 30px;
    text-align: left;
    background: transparent;
    border: 0; }
    .pushy-submenu button:hover {
      color: #FFF; }
  .pushy-submenu > a,
  .pushy-submenu > button {
    position: relative; }
  .pushy-submenu > a::after,
  .pushy-submenu > button::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url("../img/arrow.html") no-repeat;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 0.2s; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden; }

.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }
  .pushy-submenu-open ul {
    max-height: 1000px;
    visibility: visible; }
  .pushy-submenu-open .pushy-link {
    opacity: 1; }
  .pushy-submenu-open a::after,
  .pushy-submenu-open button::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

/*--------------------------------------
Typography
--------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.btn {
  margin: 0;
  font-family: 'Trueno', sans-serif; }

.thin {
  font-weight: 300; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: 600; }

.black {
  font-weight: 700; }

.extra-bold {
  font-weight: 900; }

/*--------------------------------------
Settings
--------------------------------------*/
/* Inputs */
input {
  height: 50px;
  border: 1px solid #BDC3C7 !important;
  font-size: 13px !important;
  font-weight: 600; }

textarea {
  border: 1px solid #BDC3C7 !important;
  font-size: 13px !important;
  font-weight: 600; }

label {
  font-size: 14px;
  font-size: 1.4rem;
  color: #BDC3C7;
  font-weight: 600;
  letter-spacing: 1px; }

::-webkit-input-placeholder {
  color: #BDC3C7 !important; }

/* Section */
section {
  /* Headings */ }
  section h1 {
    font-size: 40px;
    font-size: 4rem; }
  section h2 {
    font-size: 60px;
    font-size: 6rem; }

/*--------------------------------------
Body, HTML
--------------------------------------*/
html {
  font-size: 62.5%;
  background: #ffffff; }

html,
body {
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch; }

/*--------------------------------------
Header
--------------------------------------*/
header {
  position: relative; }

/*--------------------------------------
Navbar
--------------------------------------*/
.navbar {
  background: none;
  padding: 20px 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  /* Navbar Nav */
  /* Logo */
  /* Navbar Right */ }
  .navbar .navbar-nav {
    margin-left: 20px; }
    .navbar .navbar-nav > li {
      /* Navbar Links */ }
      .navbar .navbar-nav > li > a {
        font-size: 11px;
        font-size: 1.1rem;
        color: #7F8C8D;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 1px; }
  .navbar .navbar-brand span {
    font-size: 22px;
    font-size: 2.2rem;
    color: #7F8C8D; }
  .navbar .nav-right > li {
    margin-top: 0; }

/* Animation On Scroll */
@media screen and (min-width: 1024px) {
  .nav-scroll {
    padding: 20px 18rem;
    background: #ffffff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.09); } }

/*--------------------------------------
Hero Content
--------------------------------------*/
.hero-content {
  background: url("../images/hero.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
  /* Inner */
  /* Headings */ }
  .hero-content .inner {
    display: table-cell;
    vertical-align: middle; }
  .hero-content h1 {
    line-height: .6; }
  .hero-content p {
    font-size: 16px;
    font-size: 1.6rem; }

/*--------------------------------------
Sing Up Form
--------------------------------------*/
.sing-up-form {
  background: none;
  position: relative;
  width: 100%;
  top: -12.5rem;
  /* Form */
  /* Form Heading */
  /* Button */ }
  .sing-up-form form {
    background: #ffffff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.12), 0 19px 76px rgba(0, 0, 0, 0.1); }
  .sing-up-form .form-heading {
    font-size: 20px;
    font-size: 2rem; }
  .sing-up-form .btn {
    height: 50px;
    font-size: 14px;
    font-size: 1.4rem; }

/*--------------------------------------
Features
--------------------------------------*/
.features {
  padding: 100px 0;
  background: rgba(236, 240, 241, 0.3);
  /* Headings */
  /* Smart Boxes */ }
  .features h2 {
    font-size: 20px;
    font-size: 2rem;
    color: #BDC3C7;
    line-height: 2; }
  .features .boxes {
    margin-top: 10rem; }
  .features .smart-box {
    padding: 30px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* Headings */
    /* Icon */ }
    .features .smart-box:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .features .smart-box .bold {
      font-size: 18px;
      font-size: 1.8rem;
      color: #7F8C8D; }
    .features .smart-box i {
      font-size: 40px;
      font-size: 4rem;
      display: inline-block;
      margin-top: -8px; }

/*--------------------------------------
How Its Works
--------------------------------------*/
.how-it-works {
  padding-bottom: 100px;
  background: #ffffff;
  /* Headings */
  /* Smart Boxes */
  /* Headings */ }
  .how-it-works h2 {
    line-height: 2; }
  .how-it-works .smart-box {
    margin-top: 8rem;
    /* Box Numbs */
    /* Call To Action */ }
    .how-it-works .smart-box .box {
      background: #ffffff;
      text-align: center;
      padding: 40px;
      position: relative;
      z-index: 1;
      /* Icon */
      /* Heading */ }
      .how-it-works .smart-box .box i {
        font-size: 50px;
        font-size: 5rem; }
      .how-it-works .smart-box .box .heading {
        font-size: 16px;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.5); }
    .how-it-works .smart-box .first {
      box-shadow: 0 0 0 1px rgba(26, 188, 156, 0.4); }
      .how-it-works .smart-box .first:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 60%;
        background: rgba(26, 188, 156, 0.4);
        left: 50%;
        top: 100%; }
      .how-it-works .smart-box .first i {
        color: rgba(26, 188, 156, 0.4); }
    .how-it-works .smart-box .second {
      box-shadow: 0 0 0 1px rgba(52, 152, 219, 0.4); }
      .how-it-works .smart-box .second:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background: #3498db;
        left: 100%;
        top: 50%; }
      .how-it-works .smart-box .second i {
        color: #3498db; }
    .how-it-works .smart-box .third {
      box-shadow: 0 0 0 1px rgba(231, 76, 60, 0.4); }
      .how-it-works .smart-box .third:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background: rgba(231, 76, 60, 0.4);
        right: 100%;
        top: 50%; }
      .how-it-works .smart-box .third i {
        color: #e74c3c; }
    .how-it-works .smart-box .fourth {
      box-shadow: 0 0 0 1px rgba(127, 140, 141, 0.4); }
      .how-it-works .smart-box .fourth:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 70%;
        background: rgba(127, 140, 141, 0.4);
        left: 50%;
        top: -70%; }
    .how-it-works .smart-box .call-to-action {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -70px;
      margin-top: 60px;
      z-index: 1; }
  .how-it-works .heading {
    margin-top: -2rem; }
  .how-it-works h2 {
    font-size: 20px;
    font-size: 2rem;
    color: #BDC3C7; }

/*--------------------------------------
Pricing
--------------------------------------*/
.price-tables {
  padding: 100px 0;
  /* Headings */
  /* Tenzin */
  /* Shadow */ }
  .price-tables h2 {
    font-size: 20px;
    font-size: 2rem;
    color: #BDC3C7;
    line-height: 2; }
  .price-tables .pricing {
    margin-top: 8rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%; }
  .price-tables .pricing__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 330px;
    flex: 0 1 330px; }
  .price-tables .pricing__feature-list {
    text-align: left; }
  .price-tables .pricing__action {
    color: inherit;
    border: none;
    background: none; }
    .price-tables .pricing__action:focus {
      outline: none; }
  .price-tables .pricing--tenzin .pricing__item {
    margin: 1em;
    padding: 2em 2.5em;
    text-align: left;
    color: #262b38;
    background: #ffffff;
    border-top: 3px solid #EEF0F3; }
  .price-tables .pricing--tenzin .pricing__title {
    font-size: 20px;
    font-size: 2rem;
    margin: 0 0 1em; }
  .price-tables .pricing--tenzin .pricing__price {
    font-size: 40px;
    font-size: 4rem;
    font-weight: bold;
    padding: 0.5em 0 0.75em;
    border-top: 3px solid rgba(139, 144, 157, 0.18); }
  .price-tables .pricing--tenzin .pricing__currency {
    font-size: 14px;
    font-size: 1.4rem;
    vertical-align: super; }
  .price-tables .pricing--tenzin .pricing__sentence {
    font-weight: bold;
    padding: 0 0 0.5em;
    color: #9CA0A9;
    border-bottom: 3px solid rgba(139, 144, 157, 0.18); }
  .price-tables .pricing--tenzin .pricing__feature-list {
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    margin: 0;
    padding: 0.25em 0 2.5em;
    list-style: none;
    text-align: left;
    color: #8b909d; }
  .price-tables .pricing--tenzin .pricing__action {
    margin-top: auto;
    padding: 1em 2em;
    color: #fff;
    background: #3e62e0;
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .price-tables .pricing--tenzin .pricing__action:hover, .price-tables .pricing--tenzin .pricing__action:focus {
      background-color: #3b5ac5; }
  .price-tables .pricing__item {
    border-radius: 4px;
    background: #ffffff; }

/*--------------------------------------
Faq
--------------------------------------*/
.faq-section {
  padding: 100px 0;
  background: rgba(236, 240, 241, 0.3);
  /* Tab */
  /* Headings */ }
  .faq-section .tab {
    margin-top: 8rem; }
    .faq-section .tab .card {
      border: none;
      margin: 10px 0; }
    .faq-section .tab a {
      font-size: 16px;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #222222;
      text-decoration: none; }
    .faq-section .tab .card-header {
      padding: 20px;
      background: #ffffff;
      border: none; }
    .faq-section .tab .card-block {
      font-size: 14px;
      font-size: 1.4rem;
      padding: 20px; }
  .faq-section h2 {
    font-size: 20px;
    font-size: 2rem;
    color: #BDC3C7;
    line-height: 2; }

/*--------------------------------------
Contact
--------------------------------------*/
.contact {
  padding: 100px 0;
  background: #ffffff;
  /* Headings */
  /* Form */ }
  .contact h2 {
    font-size: 20px;
    font-size: 2rem;
    color: #BDC3C7;
    line-height: 2; }
  .contact form {
    margin-top: 8rem; }

/*---------------------------------------------------------
Footer
---------------------------------------------------------*/
/* Footer Top */
.social-icons .social {
  margin-top: 40px;
  padding: 0;
  position: relative;
  z-index: 1; }
  .social-icons .social > li {
    list-style: none;
    text-align: center;
    float: left;
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .social-icons .social > li a {
      display: inline-block;
      box-shadow: none;
      line-height: 0; }
      .social-icons .social > li a i {
        color: #ffffff;
        line-height: 0px;
        font-size: 30px; }

.social-icons .twitter {
  background-color: #00aced;
  order: 1; }

.social-icons .facebook {
  background-color: #3b5998;
  order: 3; }

.social-icons .email {
  background: #2C3E50;
  order: 2; }

footer {
  padding-top: 100px;
  padding-bottom: 120px;
  background: #ffffff;
  background-size: contain;
  border-bottom: 1px solid rgba(34, 34, 34, 0.5);
  background: #ECF0F1;
  /* Logo Footer */
  /* Download buttons */
  /* Heading */ }
  footer .footer-logo {
    font-size: 40px;
    font-size: 4rem;
    letter-spacing: 2px;
    font-family: 'Trueno', sans-serif;
    padding-bottom: 30px; }
  footer .download-buttons {
    margin-top: 50px;
    margin-bottom: 50px; }
    footer .download-buttons a {
      margin-right: 20px;
      margin-left: 20px;
      color: #222222;
      box-shadow: 0 0 0 1px #222222; }
  footer .select-btn {
    background: #222222;
    padding: 10px 8px;
    box-shadow: 0 0 0 1px rgba(34, 34, 34, 0.8);
    border-radius: 50px;
    position: relative;
    z-index: 1;
    color: #ECF0F1; }
    footer .select-btn:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100px;
      background: #222222;
      left: 50%;
      z-index: 0;
      top: 10px; }
  footer .footer-heading {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(34, 34, 34, 0.6);
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(34, 34, 34, 0.6); }
  footer p {
    color: rgba(34, 34, 34, 0.6); }

/*---------------------------------------------------------
Footer Bottom
---------------------------------------------------------*/
.footer-bottom {
  font-family: 'Trueno', sans-serif;
  font-weight: 300;
  padding: 20px 0;
  background: #ffffff;
  /*Navigation */ }
  .footer-bottom .footer-nav {
    margin-top: 2px; }
    .footer-bottom .footer-nav > li {
      float: left;
      list-style: none; }
      .footer-bottom .footer-nav > li > a {
        font-size: 12px;
        color: rgba(34, 34, 34, 0.7); }
  .footer-bottom p {
    margin: 0;
    padding-top: 8px;
    font-size: 12px; }

/*--------------------------------------
Sidebar
--------------------------------------*/
.pushy {
  background: #ffffff;
  /* Login Form */ }
  .pushy .pushy-content {
    /* Close */ }
    .pushy .pushy-content .login-form {
      padding: 22px 20px;
      /* Headings */
      /* Divider */
      /* Form */ }
      .pushy .pushy-content .login-form .heading {
        font-size: 20px;
        font-size: 2rem;
        font-weight: 700; }
      .pushy .pushy-content .login-form .heading-small {
        font-size: 14px;
        font-size: 1.4rem; }
      .pushy .pushy-content .login-form .form-divider {
        margin: 50px 0;
        width: 100%;
        height: 1px;
        background: rgba(34, 34, 34, 0.1);
        position: relative; }
        .pushy .pushy-content .login-form .form-divider:before {
          /* OR Text */
          position: absolute;
          content: 'OR';
          left: 50%;
          top: 50%;
          background: #ffffff;
          width: 30px;
          height: 30px;
          text-align: center;
          padding-top: 7px;
          margin-left: -15px;
          margin-top: -15px;
          font-weight: 600;
          color: #7F8C8D; }
      .pushy .pushy-content .login-form form {
        margin-top: -8px;
        /* Label */
        /* Checkbox */ }
        .pushy .pushy-content .login-form form label {
          font-size: 14px;
          font-size: 1.4rem;
          color: #BDC3C7;
          font-weight: 600;
          letter-spacing: 1px; }
        .pushy .pushy-content .login-form form .radio {
          margin-top: 20px;
          position: relative; }
          .pushy .pushy-content .login-form form .radio span {
            position: absolute;
            left: 30px;
            top: 3px;
            font-weight: 300;
            font-size: 12px;
            font-size: 1.2rem; }
          .pushy .pushy-content .login-form form .radio input[type=checkbox] {
            width: 20px;
            height: 20px;
            top: 4px;
            position: absolute; }
    .pushy .pushy-content .close-btn {
      position: absolute;
      bottom: 20px;
      padding: 0 20px;
      width: 100%; }

/*--------------------------------------
Responsive
--------------------------------------*/
@media screen and (max-width: 1024px) {
  /* Navbar */
  .navbar {
    padding: 10px 20px;
    background: #ffffff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.09); }
  .nav-right {
    position: absolute;
    right: 60px;
    top: 6px; }
    .nav-right .btn {
      box-shadow: none; }
  .navbar-toggler-right {
    padding: 0;
    padding: 0;
    color: #222222;
    font-size: 40px;
    font-size: 4rem; }
  /* Headings */
  .hero-content h1 {
    font-size: 30px;
    font-size: 3rem; }
  .hero-content h2 {
    font-size: 40px;
    font-size: 4rem; }
  /* Sign Up */
  .sing-up-form input {
    margin-bottom: 10px; }
  /*  How It Works */
  .how-it-works .smart-box {
    margin-top: 8rem; }
    .how-it-works .smart-box .first:before,
    .how-it-works .smart-box .second:before,
    .how-it-works .smart-box .third:before,
    .how-it-works .smart-box .fourth:before {
      display: none !important; }
  .call-to-action {
    top: 97% !important; }
  /* Features */
  .features .mb-sm-5 {
    margin-bottom: 30px; }
  /* Fag */
  .card .card-header a {
    font-size: 12px;
    font-size: 1.2rem; }
  /* Footer */
  footer .select-btn {
    display: none; }
  footer .download-buttons a {
    margin-bottom: 0px; }
  /* Footer Bottom */
  .footer-bottom {
    text-align: center; }
  .footer-nav {
    padding: 0;
    margin: 0; }
    .footer-nav > li {
      float: none !important;
      text-align: center;
      display: inline-block !important; }
  .how-it-works h1,
  .features h1,
  .price-tables h1,
  .contact h1,
  .faq-section h1 {
    font-size: 24px;
    font-size: 2.4rem; }
  .how-it-works h2,
  .features h2,
  .price-tables h2,
  .contact h2,
  .faq-section h2 {
    line-height: normal;
    font-size: 16px;
    font-size: 1.6rem; } }
