---
layout: default
head:
  snipcart.html
---
<div class="product-details">
  <img src="{{ page.image }}" alt="{{ page.name }}" class="thumbnail"/>
  <div class="product-description">
    <p>{{ page.name }}</p>

    <p>
      {{ page.content }}
    </p>

    <button class="snipcart-add-item"
      data-item-name="{{ page.name }}"
      data-item-id="{{ page.sku }}"
      data-item-image="{{ page.image }}"
      data-item-url="{{ site.baseurl }}"
      data-item-price="{{ page.price }}"
      data-item-quantity="1">
      Buy it for {{ page.price }} $
    </button>
  </div>
</div>
<div class="product-reviews">
  {% assign reviews = site.data.reviews | where:'product',page.slug %}
  {% assign reviewCount = reviews | size %}
  {% assign sum = 0 %}
  {% for review in reviews %}
    {% assign sum = sum | plus: review.review %}
  {% endfor %}

  <h3>Reviews
    {% if reviewCount > 0 %}
      {% assign sum = sum | divided_by:reviewCount %}
      (Average: {{ sum | round: 1 }})
    {% endif %}
  </h3>

</div>
